* {
  margin: 0;
}
.sidebar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.sidebar-container .cdbsidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-container .cdbsidebar-content {
  display: flex;
  flex-direction: column;
}

.pro-sidebar {
  height: 1240%;
}
.sidebar-container .mt-auto {
  margin-top: auto;
}
