.admin-home-screen {
    display: flex;
  }
  
  .sidebar-container {
    flex-shrink: 0; 
  }
  
  .content-container {
    margin-left: 250px; 
    padding: 20px; 
    width: calc(100% - 250px); 
  }
  