.sidebar-container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    /* margin-left: -117px; */
    width: 10px;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px; 
    z-index: 1000; 
  }